.filter-form{
    .ng-select{
        background: white;
        min-width: 208px;
    }
    button{
        width: 120px;
    }
}
.table-responsive{
    table{
        td{
            cursor: unset;
        }
    }
}
