/*
SBM Dashboard v3.0 | Data visualization and reporting tool
Author: Laguna
Version: 1.0.0
Website: 198.11.172.117:8080/
Contact: support@sbmtec.com
File: Icons Css File
*/

// Plugins
@import "custom/plugins/icons";