.form-group{
  input{
      min-width: 250px;
  }
  .ng-select{
      min-width: 250px;
  }
}

@media (max-width: 1350px){
  .form-group{
      width: 100%;
      margin-right: 0 !important;
      .ng-select{
          min-width: 100%;
      }
      input{
          min-width: 100%;
      }
  }
}
.table-responsive{
  max-height: 600px;
  table{
      td{
          cursor: pointer;
          max-height: 20px;
          overflow: auto;
      }
  }
}
