<!-- Topbar Start -->
<div class="navbar navbar-expand flex-column flex-md-row navbar-custom">
  <div class="container-fluid">
    <!-- LOGO -->
    <a routerLink="/" class="navbar-brand mr-0 mr-md-2 logo">
      <span class="logo-lg">
        <img src="assets/images/logos/logo-dark.png" alt="" height="48" />
        <span class="d-inline h5 ml-1 text-logo ml-2">Dashboard v3.0</span>
      </span>
      <span class="logo-sm">
        <img src="assets/images/logo.png" alt="" height="24">
      </span>
    </a>

    <ul class="navbar-nav bd-navbar-nav flex-row list-unstyled menu-left mb-0">
      <li class="">
        <button class="button-menu-mobile open-left disable-btn" (click)="toggleMobileMenu($event)">
          <i [attr.data-feather]="'menu'" class="menu-icon" appFeatherIcon></i>
          <i [attr.data-feather]="'x'" class="close-icon" appFeatherIcon></i>
        </button>
      </li>
    </ul>

    <ul class="navbar-nav flex-row ml-auto d-flex align-items-center list-unstyled topnav-menu float-right mb-0">
      <li class="d-none d-sm-block">
        <div class="app-search">
          <form>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search...">
              <i [attr.data-feather]="'search'" appFeatherIcon></i>
            </div>
          </form>
        </div>
      </li>
      <li class="d-none d-sm-block">
        <a href="javascript:void(0);" class="notify-item" (click)="logout()">
          <i [attr.data-feather]="'log-out'" class="icon-dual icon-xs mr-2"></i>
          <span>&nbsp;Logout</span>
        </a>
      </li>
    </ul>
  </div>

</div>
<!-- end Topbar -->
