<div class="container-fluid">
    <div class="row mt-4">
        <div *ngIf='db_error' class="col-md-12">
            <ngb-alert type="danger" [dismissible]="false">
                Database connection error. Please try again later.
            </ngb-alert>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body p-0">
                    <h5 class="card-title header-title border-bottom p-3 mb-0">Filters</h5>
                    <form class="form-inline m-3 filter-form">
                        <div class="form-group mr-5 mb-2">
                            <label class="col-form-label mr-3">Select shop</label>
                            <ng-select [items]="shops" [(ngModel)]='filter_shop' [ngModelOptions]="{standalone: true}"></ng-select>
                        </div>
                        <div class="form-group mr-2 mb-2">
                            <label class="col-form-label mr-3">Select date range</label>
                            <ng-select [items]="date_ranges['labels']" [(ngModel)]='filter_range' [ngModelOptions]="{standalone: true}" (change)="filter_range_change()"></ng-select>
                        </div>
                        <div class="form-group mr-2 mb-2">
                            <input id="filter_date_range" type="text" class="form-control" disabled placeholder="2020-01-01 to 2020 01-31" mwlFlatpickr mode="range" [convertModelValue]="true" [(ngModel)]="filter_date" [ngModelOptions]="{standalone: true}"/>
                        </div>
                    </form>

                    <div class="row" *ngIf="advanced_filters">
                        <div class="col-md-3">
                            <div class="group-radio ml-3 mr-3 mb-3">
                                <label class="col-form-label">Select group by</label>
                                <div class="custom-control custom-radio mb-1">
                                    <input type="radio" id="groupa" name="group_radio" class="custom-control-input" value="group_a_id" (change)="group_change($event)" [checked]="f_group=='group_a_id'">
                                    <label class="custom-control-label" for="groupa">Group A</label>
                                </div>
                                <div class="custom-control custom-radio mb-1">
                                    <input type="radio" id="groupb" name="group_radio" class="custom-control-input" value="group_b_id" (change)="group_change($event)" [checked]="f_group=='group_b_id'">
                                    <label class="custom-control-label" for="groupb">Group B</label>
                                </div>
                                <div class="custom-control custom-radio mb-1">
                                    <input type="radio" id="groupc" name="group_radio" class="custom-control-input" value="group_c_id" (change)="group_change($event)" [checked]="f_group=='group_c_id'">
                                    <label class="custom-control-label" for="groupc">Group C</label>
                                </div>
                                <div class="custom-control custom-radio mb-1">
                                    <input type="radio" id="groupd" name="group_radio" class="custom-control-input" value="group_d_id" (change)="group_change($event)" [checked]="f_group=='group_d_id'">
                                    <label class="custom-control-label" for="groupd">Group D</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" name="button" class="btn btn-soft-secondary btn-sm ml-3 mb-3" (click)="toggle_advanced_filter()"><i class="uil uil-angle-double-{{advanced_filters ? 'up' : 'down'}}"></i>{{ !advanced_filters ? 'Show advanced filters' : 'Hide advanced filters' }}</button>
                    <button type="button" name="button" class="btn btn-primary btn-sm ml-3 mb-3" (click)="apply_filter()"><i class="uil uil-check"></i> Apply filters</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="min-height: 600px">
                <div class="card-body p-0">
                    <h5 class="card-title header-title border-bottom p-3 mb-0">Article details</h5>
                    <app-miniloader [display]='article_loading'></app-miniloader>
                    <div *ngIf="!article_loading">
                        <fusioncharts
                            [width]="article_chart['width']"
                            [height]="article_chart['height']"
                            [type]="article_chart['type']"
                            [dataFormat]="article_chart['dataFormat']"
                            [dataSource]="article_chart['dataSource']">
                        </fusioncharts>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <a href="javascript: void(0);" class="btn btn-primary btn-sm float-right" (click)="exportService.exportToCSV($event, 'Group detail for ' + filter_shop + ' from ' + filter_date['from'] + ' to ' + filter_date['to'])">
                        <i class="uil uil-export ml-1"></i> Export
                    </a>
                    <h5 class="card-title header-title border-bottom p-3 mb-0">Group details</h5>
                    <app-miniloader [display]='article_loading'></app-miniloader>
                    <div *ngIf="!article_loading" class="table-responsive" style="height: 200px;">
                        <table class="table table-sm mb-0 table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Qty</th>
                                    <th>% qty</th>
                                    <th>Price</th>
                                    <th>% price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="table-success">
                                    <td>Total</td>
                                    <td>{{ article_total.amount }}</td>
                                    <td>100%</td>
                                    <td>{{ article_total.price | currency }}</td>
                                    <td>100%</td>
                                </tr>
                                <tr *ngFor="let item of group_data; index as idx" (click)="select_group(item.id)">
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.amount }}</td>
                                    <td>{{ item.amount / article_total['amount'] | percent: '.1-1' }}</td>
                                    <td>{{ item.price | currency }}</td>
                                    <td>{{ item.price / article_total['price'] | percent: '.1-1' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card" style="min-height: 325px">
                <div class="card-body">
                    <a href="javascript: void(0);" class="btn btn-primary btn-sm float-right" (click)="exportService.exportToCSV($event, 'Article detail for ' + filter_shop + ' from ' + filter_date['from'] + ' to ' + filter_date['to'])">
                        <i class="uil uil-export ml-1"></i> Export
                    </a>
                    <h5 class="card-title header-title border-bottom p-3 mb-0">Article details in {{ selected_group['name'] }}</h5>
                    <app-miniloader [display]='article_loading'></app-miniloader>
                    <div *ngIf="!article_loading" class="table-responsive" style="height: 244px;">
                        <table class="table table-sm mb-0 table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Qty</th>
                                    <th>% qty</th>
                                    <th>Price</th>
                                    <th>% price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="table-success">
                                    <td>{{ selected_group['name'] }}</td>
                                    <td>{{ selected_group['amount'] }}</td>
                                    <td>{{ selected_group['amount'] / article_total['amount'] | percent: '.1-1' }}</td>
                                    <td>{{ selected_group['price'] | currency }}</td>
                                    <td>{{ selected_group['price'] / article_total['price'] | percent: '.1-1' }}</td>
                                </tr>
                                <tr *ngFor="let item of article_data; index as idx">
                                    <ng-container *ngIf="item.parent == selected_group_id">
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.amount }}</td>
                                        <td>{{ item.amount / selected_group['amount'] | percent: '.1-1' }}</td>
                                        <td>{{ item.price | currency }}</td>
                                        <td>{{ item.price / selected_group['price'] | percent: '.1-1' }}</td>
                                    </ng-container>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="min-height: 400px;">
                <div class="card-body pb-0">
                    <ul class="nav card-nav float-right">
                        <li class="nav-item">
                            <a class="nav-link" href="javascript: void(0);" [ngClass]="{ 'text-danger': group_by === 'qty', 'text-muted': group_by !== 'qty' }" (click)="group_by_change()">By qty</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"href="javascript: void(0);" [ngClass]="{ 'text-danger': group_by !== 'qty', 'text-muted': group_by === 'qty' }" (click)="group_by_change()">By price</a>
                        </li>
                    </ul>
                    <h5 class="card-title header-title mb-0">Top groups</h5>
                    <app-miniloader [display]='article_loading'></app-miniloader>
                    <div *ngIf="!article_loading">
                        <fusioncharts
                            [width]="group_detail_chart['width']"
                            [height]="group_detail_chart['height']"
                            [type]="group_detail_chart['type']"
                            [dataFormat]="group_detail_chart['dataFormat']"
                            [dataSource]="group_detail_chart['dataSource']">
                        </fusioncharts>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="min-height: 400px;">
                <div class="card-body pb-0">
                    <ul class="nav card-nav float-right">
                        <li class="nav-item">
                            <a class="nav-link" href="javascript: void(0);" [ngClass]="{ 'text-danger': article_by === 'qty', 'text-muted': article_by !== 'qty' }" (click)="article_by_change()">By qty</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"href="javascript: void(0);" [ngClass]="{ 'text-danger': article_by !== 'qty', 'text-muted': article_by === 'qty' }" (click)="article_by_change()">By price</a>
                        </li>
                    </ul>
                    <h5 class="card-title header-title mb-0">Top articles</h5>
                    <app-miniloader [display]='article_loading'></app-miniloader>
                    <div *ngIf="!article_loading">
                        <fusioncharts
                            [width]="article_detail_chart['width']"
                            [height]="article_detail_chart['height']"
                            [type]="article_detail_chart['type']"
                            [dataFormat]="article_detail_chart['dataFormat']"
                            [dataSource]="article_detail_chart['dataSource']">
                        </fusioncharts>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body p-0">
                    <h5 class="card-title header-title border-bottom p-3 mb-0">Article stats</h5>
                    <app-miniloader [display]='article_loading'></app-miniloader>
                    <div *ngIf="!article_loading && (group_data.length > 0)">
                        <app-overview class="m-2" value='{{ article_total.price | currency }}' icon='dollar-sign' title="Total article's price from {{ filter_date['from'] | date: 'd MMM, yyyy'  }} to {{ filter_date['to'] | date: 'd MMM, yyyy' }}"></app-overview>
                        <app-overview class="m-2" value='{{ article_total.amount }}' icon='package' title="Total items sold from {{ filter_date['from'] | date: 'd MMM, yyyy'  }} to {{ filter_date['to'] | date: 'd MMM, yyyy' }}"></app-overview>
                        <app-overview class="m-2" value='{{ article_total.price / article_total.amount | currency }}' icon='bar-chart-2' title="Average price per item"></app-overview>
                        <app-overview class="m-2" value='{{ group_data[0].name }}' icon='arrow-up' title="Top sale group - {{ group_data[0].amount }} items sold in this group."></app-overview>
                        <app-overview class="m-2" value='{{ article_data[0].name }}' icon='key' title="Most frequent article - {{ article_data[0].amount }} items sold, total sale is {{ article_data[0].price | currency }}."></app-overview>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
